# This is a basic workflow to help you get started with Actions

name: Scrape data

# Controls when the action will run.
on:
  repository_dispatch:
    types: rescrape
  workflow_dispatch:
  schedule:
    # Once every hour
    - cron: "0 * * * *"

# All jobs are paralleled with the following rules:
# catalog_scraper depends on semesters.json and creates catalog.json
# faculty_directory_scraper depends on nothing and create faculty.json
# prerequisite_scraper depends on semesters.json and generates prerequisites.json
# rmp_scraper depends on nothing and generates rmp.json
# school_scraper depends on semesters.json and generates schools.json
# semesters depends on nothing and generates semesters.json
# sis_scraper depends on semesters.json and catalog.json and generates courses.json and mod.rs
jobs:
  # A lot of things depend on semesters.json, so start this first
  scrape-semesters:
    name: "Scrape semesters"
    runs-on:
      ubuntu-latest
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
          cp quacs-oxy-scraper/transform.go .
      - name: Scrape
        run: |
          python3 quacs-oxy-scraper/semesters/main.py
      - name: Upload scraped data
        uses: actions/upload-artifact@v2
        with:
          name: semesters
          path: |
            semesters.json
            transform.go
  scrape-faculty-directory:
    name: "Scrape faculty directory"
    runs-on:
      ubuntu-latest
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
          ls
      - name: Scrape
        run: |
          python3 quacs-oxy-scraper/faculty_directory_scraper/main.py
      - name: Upload scraped data
        uses: actions/upload-artifact@v2
        with:
          name: faculty
          path: faculty.json

  # These things depend on semesters.json, run them after the [scrape-semesters] job is done
  scrape-catalog:
    name: "Scrape catalog"
    runs-on:
      ubuntu-latest
    needs: [scrape-semesters]
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
          ls
      - name: Get scraped data
        uses: actions/download-artifact@v2
        with:
          name: semesters
      - name: Scrape
        run: |
          python3 quacs-oxy-scraper/catalog_scraper/main.py
      - name: Upload scraped data
        uses: actions/upload-artifact@v2
        with:
          name: catalog
          path: catalog.json
  scrape-prerequisites:
    name: "Scrape prerequisites"
    runs-on:
      ubuntu-latest
    needs: [scrape-semesters]
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
          ls
      - name: Get scraped data
        uses: actions/download-artifact@v2
        with:
          name: semesters
      - name: Scrape
        run: |
          python3 quacs-oxy-scraper/prerequisite_scraper/main.py
      - name: Upload scraped data
        uses: actions/upload-artifact@v2
        with:
          name: prerequisites
          path: prerequisites.json
  scrape-schools:
    name: "Scrape schools"
    runs-on:
      ubuntu-latest
    needs: [scrape-semesters]
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
      - name: Get scraped data
        uses: actions/download-artifact@v2
        with:
          name: semesters
      - name: Scrape
        run: |
          python3 quacs-oxy-scraper/school_scraper/main.py
      - name: Upload scraped data
        uses: actions/upload-artifact@v2
        with:
          name: schools
          path: schools.json

  # This depends on semesters.json and catalog.json, so wait on [scrape-semesters] and [scrape-catalog]
  scrape-sis:
    name: "Scrape SIS"
    runs-on:
      ubuntu-latest
    needs: [scrape-semesters, scrape-catalog]
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
          ls
      - name: Get scraped data
        uses: actions/download-artifact@v2
        with:
          name: semesters
      - name: Get more data
        uses: actions/download-artifact@v2
        with:
          name: catalog
      - name: Scrape
        run: |
          python3 quacs-oxy-scraper/sis_scraper/main.py
      - name: Upload scraped data
        uses: actions/upload-artifact@v2
        with:
          name: courses
          path: |
            courses.json
            mod.rs
  commit-data:
    name: Commit changes
    continue-on-error: true
    runs-on: ubuntu-latest
    needs: [scrape-semesters, scrape-faculty-directory, scrape-catalog, scrape-prerequisites, scrape-schools, scrape-sis]
    steps:
      - name: Checkout scrapers
        uses: actions/checkout@v2
        with:
          path: 'quacs-oxy-scraper'
          repository: 'NickyBoy89/quacs-oxy-scraper'
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Setup pip requirements
        run: |
          sudo apt-get install -y libxml2 libxml2-dev libxslt-dev
          python -m pip install --upgrade pip
          pip install -r quacs-oxy-scraper/requirements.txt
          ls
      - name: Setup Go
        run: |
          sudo apt-get install golang
      - name: Checkout data
        uses: actions/checkout@v2
        with:
          path: 'data'
          repository: 'NickyBoy89/quacs-oxy-data'
          clean: true
      - name: Get scraped data
        uses: actions/download-artifact@v2
      - name: Generate meta json file
        run: echo {\"last_updated\":\"$(date --iso-8601=seconds -u)\"} > data/meta.json
      - name: Find whats in the artifact
        run: |
          cd courses
          ls
      - name: Copy data from scrapers to data directory
        run: |
          cd semesters
          go run transform.go
          cd ../
          current_semester=$(tail -n 1 semesters/semesters.json)
          mkdir -p data/semester_data/${current_semester}
          cp courses/courses.json courses/mod.rs data/semester_data/${current_semester}
          cp catalog/catalog.json data/semester_data/${current_semester}
          #cp rmp/rmp.json data/semester_data/${current_semester}
          cp prerequisites/prerequisites.json data/semester_data/${current_semester}
          cp schools/schools.json data/semester_data/${current_semester}
          cp faculty/faculty.json data
      - name: Generate prerequisites graph on all the data
        run: |
          python3 quacs-oxy-scraper/prerequisites_graph/main.py data/semester_data prereq_graph.json
          cp prereq_graph.json data
          ls
        continue-on-error: true
      - name: Commit new data
        run: |
          current_semester=$(tail -n 1 semesters/semesters.json)
          echo $current_semester
          cd data
          git config user.name "Quacs Oxy Scraper" && git config user.email "scraper@nicholasnovak.io"
          git add faculty.json
          git add prereq_graph.json
          git add semester_data/${current_semester}/courses.json semester_data/${current_semester}/mod.rs
          git add semester_data/${current_semester}/prerequisites.json
          git add semester_data/${current_semester}/schools.json
          git add semester_data/${current_semester}/catalog.json
          git add meta.json
          git commit -m "$(date -u)"
          git push --force
